.pageContent {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
}

.linkBox {
    position: relative;
    width: 25vh;
    height: 25vh;
    margin: 3vh;
    border-radius: 15%;
    box-shadow: 
		-20px -20px 30px #ffffff, /*white shadow on top*/
		 15px 15px 30px #dedede; /*shadow underneath*/
    background-image: linear-gradient(to bottom right, #ECECEC, #FFFFFF);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: 0.5s ease-in-out;
}

.linkBoxTitle {
    position: absolute;
    color: #000000;
    bottom: 0.5vh;
    text-align: justify;
    font-family: Poppins;
    font-size: 1vh;
    letter-spacing: 0.5vh;
    text-decoration-line: none;
}

.linkBoxTitleRH {
    left: 7.5vh;
}

.linkBoxTitleSB {
    left: 10.5vh;
}

.rhLogo {
    position: absolute;
    width: 24vh;
    height: 24vh;
}

.sbLogo {
    position: absolute;
    width: 24vh;
    height: 24vh;
}

/* @media only screen and (min-device-width: 900px) {

    .pageContent {
        flex-direction: row;
    }

    .linkBox {
        width: 25vw;
        height: 25vw;
        }
    
    .rhLogo {
        width: 24vw;
        height: 24vw;
    }
    
    .sbLogo {
        width: 24vw;
        height: 24vw;
    }

    .linkBoxTitle {
        font-size: 1vw;
    }

    .linkBoxTitleRH {
        left: 7.5vw;
    }
    
    .linkBoxTitleSB {
        left: 10.5vw;
    }
} */

/* #### Mobile Phones Portrait #### */
/* @media screen and (max-device-width: 480px) and (orientation: portrait){
        the site is designed for this so no extra code should be needed
  } */
  
  /* #### Mobile Phones Landscape #### */
  @media screen and (max-device-width: 640px) and (orientation: landscape){
    .pageContent {
        flex-direction: row;
    }

    .linkBox {
        width: 25vw;
        height: 25vw;
        }
    
    .rhLogo {
        width: 24vw;
        height: 24vw;
    }
    
    .sbLogo {
        width: 24vw;
        height: 24vw;
    }

    .linkBoxTitle {
        font-size: 1vw;
    }

    .linkBoxTitleRH {
        left: 7.5vw;
    }
    
    .linkBoxTitleSB {
        left: 10.5vw;
    }
  }
  
  /* #### Tablets Portrait or Landscape #### */
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .pageContent {
        flex-direction: row;
    }

    .linkBox {
        width: 25vw;
        height: 25vw;
        }
    
    .rhLogo {
        width: 24vw;
        height: 24vw;
    }
    
    .sbLogo {
        width: 24vw;
        height: 24vw;
    }

    .linkBoxTitle {
        font-size: 1vw;
    }

    .linkBoxTitleRH {
        left: 7.5vw;
    }
    
    .linkBoxTitleSB {
        left: 10.5vw;
    }
  }
  
  /* #### Desktops #### */
  @media screen and (min-width: 1024px){

    .pageContent {
        flex-direction: row;
    }

    .linkBox {
        width: 25vw;
        height: 25vw;
        }
    
    .rhLogo {
        width: 24vw;
        height: 24vw;
    }
    
    .sbLogo {
        width: 24vw;
        height: 24vw;
    }

    .linkBoxTitle {
        font-size: 1vw;
    }

    .linkBoxTitleRH {
        left: 7.5vw;
    }
    
    .linkBoxTitleSB {
        left: 10.5vw;
    }
  }