.pageContent {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
}

.headText {
    position: fixed;
    font-size: 2rem;
    font-family: Poppins;
    top: 5vw;
}

.linkBox {
    position: relative;
    width: 25vw;
    height: 25vw;
    bottom: -2vw;
    margin: 3vw;
    border-radius: 15%;
    box-shadow: 
		-20px -20px 30px #ffffff, /*white shadow on top*/
		 15px 15px 30px #dedede; /*shadow underneath*/
    background-image: linear-gradient(to bottom right, #ECECEC, #FFFFFF);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: 0.5s ease-in-out;
}

.linkBoxTitle {
    position: absolute;
    color: #000000;
    bottom: 0.5vw;
    text-align: justify;
    font-family: Poppins;
    font-size: 1vw;
    letter-spacing: 0.5vw;
    text-decoration-line: none;
}

.linkBoxTitleRH {
    left: 7.5vw;
}

.linkBoxTitleSB {
    left: 10.5vw;
}

.rhLogo {
    position: absolute;
    width: 24vw;
    height: 24vw;
}

.sbLogo {
    position: absolute;
    width: 24vw;
    height: 24vw;
}

@media only screen and (max-width: 700px) {
    .pageContent {
        flex-direction: column;
        }

    .linkBox {
    width: 25vh;
    height: 25vh;
    }

    .rhLogo {
        width: 24vh;
        height: 24vh;
    }
    
    .sbLogo {
        width: 24vh;
        height: 24vh;
    }

    .linkBoxTitle {
        font-size: 1vh;
    }

    .linkBoxTitleRH {
        left: 7.5vh;
    }
    
    .linkBoxTitleSB {
        left: 10.5vh;
    }
  }